<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/wrapped.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/sterfavicon.jpg">

</head>

<body class="bg-dark" onload="startWrapped()">

    <div class="content">
        <div class="card text-center rainbow rainbow1" id="card1" style="display: block; top: 150%;">
            <div class="card-body">
                <h1>MOOSE WRAPPED</h1>
                <h3>You have been listening to loud music for <span id="time-text"></span>.</h3>
                <h5 id="time" style="display: none;">
                    <%= time %>
                </h5>
            </div>
        </div>

        <div class="card text-center rainbow rainbow2" id="card2" style="display: none; top: 150%;">
            <div class="card-body">
                <h1>MOOSE WRAPPED</h1>
                <h3>Yeeeeeeeeeeeeet</h3>
            </div>
        </div>

        <div class="card text-center rainbow-dark" id="card3" style="display: none; top: 150%;">
            <div class="card-body" id="ty-card">
                <h1>THANK YOU</h1>
                <h3>A Creative Technology project for module 8</h3>
                <h5>Team 6</h5>
                <h5 style="max-width: 500px;">Daisy Baars - Hylke Jellema - Jelle Gerritsen - Jochem Schaap - Jonathan Jacob - Marnix Lueb - Max Liebe - Thomas van Klink - Patrick Botz - Rachel den Otter - Rafael Pedrosa - Sterre Kuijper</h5>
            </div>
        </div>
    </div>

    <script src="/js/socket.io.min.js"></script>
    <script src="/js/wrapped.js"></script>

</body>

</html>