<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/wrapped.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/sterfavicon.jpg">

</head>

<body class="bg-dark" onload="startWrapped()">

    <div class="content" style="font-family: berlin-sans">
        <div class="card text-center rainbow rainbow1" id="card1" style="display: none; top: 150%;">
            <div class="card-body">
                <img src="/images/MakeSomeNoiseLogo.png" style="width: 400px; height:auto; ">
                <div>
                    <h1 style="font-size: 60px;">Thank you for coming to this event!</h1>
                    <h2 class="my-3">You have been listening to loud music for <strong style="color: #982CFF;"><span
                                id="time-text"></span></strong>,<br>and your most popular genre is <strong
                            style="color: #FF23F4;"><%= genre %></strong>.</h2>
                </div>
                <h5 id="time" style="display: none;">
                    <%= time %>
                </h5>
            </div>
        </div>

        <div class="card text-center rainbow rainbow2" id="card2" style="display: none; top: 150%;">
            <div class="card-body">
                <h1 style="font-size: 60px; color: #FF23F4;" id="dose"></strong></h1>
                <h2>That is the amount of decibel you have been listening to.<br>The max daily dose you can listen to is
                    <strong style="color: #982CFF;">80db for 8 hours on a day</strong>.</h2>
                <h2>If this is 100%,<br> your dose is then <strong style="color: #FF23F4;" id="dose"></strong>.</h2>
                <!-- <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div> -->
                <div class="small-row">
                    <h3 class="row-item">This is the same as standing next to an airplane for one hour.</h3>
                    <h3 class="row-item">Or it is the same as something that I dont know, because I didn't look it up.
                    </h3>
                </div>
            </div>
        </div>

        <div class="card text-center rainbow-dark" id="card3" style="display: none; top: 150%;">
            <div class="card-body" id="ty-card">
                <h1 style="font-size: 60px;">A Creative Technology<br>project for module 8</h1>
                <h2>Team 6</h2>
                <h3 style="max-width: 500px;">Daisy Baars - Hylke Jellema - Jelle Gerritsen - Jochem Schaap - Jonathan
                    Jacob - Marnix Lueb - Max Liebe - Thomas van Klink - Patrick Botz - Rachel den Otter - Rafael
                    Pedrosa - Sterre Kuijper</h3>
            </div>
        </div>
    </div>

    <script src="/js/socket.io.min.js"></script>
    <script src="/js/wrapped.js"></script>

</body>

</html>