<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/wrapped.css" rel="stylesheet">

</head>

<body class="bg-dark" onload="calculateTime()">

    <div class="content">
        <div class="rainbow">hallooo</div>
        <div class="card text-center" id="card1" style="display: block; top: 50%;" onclick="calculateTime()">
            <div class="card-body">
                <h1>MOOSE WRAPPED</h1>
                <h3>You have been listening to loud music for <span id="time-text"></span>.</h3>
                <h5 id="time">
                    <%= time %>
                </h5>
                <!-- <p class="card-text" id="time-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
        </div>
    </div>

    <script src="/js/wrapped.js"></script>

</body>

</html>